@use "fonts" as *;
@use "sass:color";
@use "breakpoints" as bp;
@use "all_variables" as *;

.blind {
    /*----------  Blind Images Color B/W  ----------*/
    &-bw {
        & > .wrapper {
            background-color: var(--blindBackgroundBW);
            color: var(--blindColorBW);

            & > .header {
                background-color: var(--blindColorBW);

                & > .header__nav {
                    background-color: var(--third-lighten-20);

                    & > .header__bottom {
                        background-color: var(--third-lighten-20);

                        .nav-main {
                            li {
                                a {
                                    color: var(--blindBackgroundWB);
                                }

                                &:hover {
                                    background-color: var(--third-lighten-20);
                                }
                            }

                            &__children {
                                ul.submenu {
                                    background-color: var(--blindColorWB);
                                }
                            }
                        }
                    }

                    & > .header__top {
                        background-color: var(--third-lighten-25);

                        & > .header__social {
                            ul {
                                li {
                                    i {
                                        color: var(--blindColorBW);
                                    }
                                }
                            }
                        }

                        & > input {
                            color: var(--blindBackgroundBW);

                            &::-webkit-input-placeholder {
                                /* WebKit browsers */
                                color: var(--blindBackgroundBW);
                            }

                            &::-moz-placeholder {
                                /* Mozilla Firefox 4 to 18 */
                                color: var(--blindBackgroundBW);
                                opacity: 1;
                            }

                            &::-moz-placeholder {
                                /* Mozilla Firefox 19+ */
                                color: var(--blindBackgroundBW);
                                opacity: 1;
                            }

                            &::-ms-input-placeholder {
                                /* Internet Explorer 10+ */
                                color: var(--blindBackgroundBW);
                            }
                        }
                    }
                }

                & > .header__blind {
                    background-color: var(--blindBackgroundBW);
                }
            }

            & > .sidebar {
                background-color: var(--third-lighten-20);

                &-static {
                    background-color: var(--third-lighten-20);
                }

                & > .sidebar__buttons {
                    background-color: var(--blindBackgroundBW);

                    & > a {
                        background-color: var(--third-lighten-25);
                        border-color: var(--blindColorBW);

                        span {
                            color: var(--blindColorBW);
                        }

                        picture {
                            img {
                                filter: grayscale(1) invert(1);
                            }
                        }
                    }
                }

                & > .sidebar__banners {
                    a {
                        picture {
                            img {
                                filter: grayscale(1);
                            }
                        }
                    }
                }

                & > .sidebar-logo {
                    svg {
                        path {
                            fill: var(--blindColorBW);
                        }
                    }

                    img {
                        filter: grayscale(1) invert(1);
                    }
                }

                & > .sidebar-login {
                    background-color: var(--blindBackgroundBW);

                    & > .sidebar-login__top {
                        & > .sidebar-login__form {
                            & > .sidebar-login__block {
                                input {
                                    color: var(--blindColorBW);
                                    border-color: var(--blindColorBW);
                                    background-color: var(--third-lighten-20);

                                    &:focus,
                                    &:visited {
                                        color: var(--blindColorBW);
                                        background-color: var(
                                            --third-lighten-20
                                        );
                                        border-color: var(--blindColorBW);
                                        outline: none;
                                    }

                                    &:focus::-webkit-input-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &:focus::-moz-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &:focus::-ms-input-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &::-webkit-input-placeholder {
                                        /* WebKit browsers */
                                        color: rgba(var(--blindColorBW), 0.7);
                                    }

                                    &::-moz-placeholder {
                                        /* Mozilla Firefox 4 to 18 */
                                        color: rgba(var(--blindColorBW), 0.7);
                                        opacity: 1;
                                    }

                                    &::-moz-placeholder {
                                        /* Mozilla Firefox 19+ */
                                        color: rgba(var(--blindColorBW), 0.7);
                                        opacity: 1;
                                    }

                                    &::-ms-input-placeholder {
                                        /* Internet Explorer 10+ */
                                        color: rgba(var(--blindColorBW), 0.7);
                                    }
                                }
                            }

                            & > .sidebar-login__button {
                                color: var(--blindColorBW);
                                border-color: var(--blindColorBW);
                                background-color: var(--third-lighten-20);
                            }
                        }
                    }

                    & > .sidebar-login__bottom {
                        li {
                            a,
                            i {
                                color: var(--blindColorBW);
                            }
                        }
                    }
                }
            }

            & > .main-content {
                img {
                    filter: grayscale(1) contrast(1.2) brightness(1.1);
                }

                & > .main-content__inside {
                    & > .main-content__hero {
                        & > .main-content__intro {
                            background-color: var(--blindColorBW);
                        }

                        & > .main-content__anniversary {
                            background-color: var(--third-lighten-20);

                            & > .bx-viewport {
                                .main-content__anniversary {
                                    background-color: var(--third-lighten-20);
                                }
                            }

                            .main-content__anniversary-slide {
                                .main-content__anniversary-middle {
                                    background-color: var(--blindBackgroundBW);
                                }

                                .main-content__anniversary-data {
                                    background-color: var(--blindBackgroundBW);

                                    span {
                                        color: var(--blindColorBW);
                                    }
                                }

                                .main-content__anniversary-birthday {
                                    span,
                                    p {
                                        color: var(--blindColorBW);
                                    }
                                }
                            }
                        }
                    }

                    & > .main-content__read,
                    & > .main-content__news,
                    & > .main-content__calendar,
                    & > .main-content__partners {
                        & > .main-content__news-block {
                            & > .main-content__subheader {
                                border-color: var(--blindColorBW);
                            }

                            ul {
                                & > .main-content__news-single {
                                    & > .news-single__title {
                                        background-color: var(
                                            --third-lighten-20
                                        );
                                    }

                                    & > .news-single__text {
                                        background-color: var(
                                            --third-lighten-30
                                        );
                                    }

                                    & > .news-single__footer {
                                        & > .news-single__date {
                                            background-color: var(
                                                --third-lighten-20
                                            );
                                            color: var(--blindColorBW);
                                        }

                                        & > .news-single__link {
                                            background-color: var(
                                                --third-lighten-20
                                            );
                                        }
                                    }
                                }
                            }

                            & > .main-content__subheader--link {
                                a {
                                    &:after {
                                        color: var(--blindColorBW);
                                    }
                                }
                            }
                        }

                        & > .main-content__subheader {
                            border-color: var(--blindColorBW);
                        }

                        & > .main-content__subheader--link {
                            a {
                                &:after {
                                    color: var(--blindColorBW);
                                }
                            }
                        }
                    }

                    & > .main-content__calendar {
                        & > .main-content__calendar-month {
                            ul {
                                & > .main-content__calendar-date {
                                    border-color: var(--blindColorBW);

                                    & > .calendar-date__data {
                                        border-color: var(--blindColorBW);

                                        & > .calendar-date__data-num {
                                            border-color: var(--blindColorBW);
                                            background-color: var(
                                                --blindBackgroundBW
                                            );

                                            span {
                                                color: var(--blindColorBW);
                                            }
                                        }
                                    }

                                    & > .calendar-date__events {
                                        border-color: var(--blindColorBW);

                                        & > .calendar-date__data-month {
                                            border-color: var(--blindColorBW);
                                            background-color: var(
                                                --third-lighten-20
                                            );

                                            span {
                                                color: var(--blindColorBW);
                                            }
                                        }

                                        & > .calendar-date__data-week {
                                            background-color: var(
                                                --blindBackgroundBW
                                            );

                                            span {
                                                color: var(--blindColorBW);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    & > .main-content__text {
                        & > .read-content__link {
                            color: var(--blindColorBW);
                            background-color: var(--third-lighten-20);
                            border-color: var(--blindColorBW);
                        }
                    }

                    & > .main-content__inside-content {
                        & > .main-content__guest {
                            & > .main-content__guest-message {
                                color: var(--blindColorBW);
                                background-color: var(--third-lighten-20);

                                &:before {
                                    border-right-color: var(--third-lighten-20);
                                }
                            }

                            & > .main-content__guest-person {
                                & > .main-content__guest-date {
                                    span {
                                        color: var(--blindColorBW);
                                    }
                                }
                            }
                        }

                        & > .main-content__inside-form {
                            & > .form-ajax {
                                input[type="text"],
                                input[type="email"],
                                input[type="number"],
                                input[type="password"],
                                textarea {
                                    color: var(--blindColorBW);
                                    border-color: var(
                                        --blindColorBW
                                    ) !important;

                                    &:focus,
                                    &:visited {
                                        color: var(--blindColorBW);
                                        background-color: var(
                                            --third-lighten-20
                                        );
                                        border-color: var(--blindColorBW);
                                    }

                                    &:focus::-webkit-input-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &:focus::-moz-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &:focus::-ms-input-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &::-webkit-input-placeholder {
                                        /* WebKit browsers */
                                        color: var(--blindColorBW);
                                    }

                                    &::-moz-placeholder {
                                        /* Mozilla Firefox 4 to 18 */
                                        color: var(--blindColorBW);
                                        opacity: 1;
                                    }

                                    &::-moz-placeholder {
                                        /* Mozilla Firefox 19+ */
                                        color: var(--blindColorBW);
                                        opacity: 1;
                                    }

                                    &::-ms-input-placeholder {
                                        /* Internet Explorer 10+ */
                                        color: var(--blindColorBW);
                                    }
                                }

                                & > .form-ajax__input {
                                    & > .form-ajax__input-rating {
                                        & > .form-ajax__input-description {
                                            color: var(
                                                --blindColorBW
                                            ) !important;
                                        }
                                    }
                                }

                                & > .form-ajax__agreement {
                                    a {
                                        color: var(--blindColorBW) !important;
                                    }
                                }

                                & > .form-ajax__button {
                                    & > .submit-form {
                                        color: var(--blindColorBW);
                                        background-color: var(
                                            --third-lighten-20
                                        );
                                        border-color: var(--blindColorBW);
                                    }
                                }
                            }
                        }
                    }

                    & > .main-content__link {
                        & > .main-content__link-block {
                            color: var(--blindColorBW);
                            background-color: var(--third-lighten-20);
                        }
                    }
                }

                & > .main-content__breadcrumbs {
                    li {
                        a {
                            color: var(--third-lighten-50);
                        }
                    }
                }
            }

            h1,
            h2,
            h3,
            h4,
            h5 {
                color: var(--blindColorBW);
                border-color: var(--blindColorBW);
            }
        }

        p,
        strong {
            color: var(--fourth);
        }

        & > .footer {
            background-color: var(--blindBackgroundBW);

            & > .footer__down-block {
                background-color: var(--third-lighten-20);
            }

            & > .footer__line {
                & > span {
                    border-color: var(--third-lighten-20);
                }
            }

            & > .footer__logo {
                svg {
                    path {
                        fill: var(--blindColorBW);
                    }
                }
            }

            a {
                color: var(--blindColorBW);

                svg {
                    path {
                        fill: var(--blindColorBW);
                    }
                }
            }

            & > .footer__social {
                ul {
                    li {
                        svg {
                            path {
                                fill: var(--blindColorBW);
                            }
                        }
                    }
                }
            }
        }
    }
}
