/*==============================
=            Header            =
==============================*/

.header {
	// @include grid-column(10, $main-grid);
	width: calc(((100% / 12) * 10) - (#{$headerBlindWidth} / 2));
	height: $headerHeightDesktop;
	position: fixed;
	top: 0;
	right: 0;
	// margin-bottom: 2rem;
	background-color: $headerBackgroundColor;
	// border-bottom: 0.5rem solid $secondary;
	box-shadow: 0 0.1rem 0.1rem rgba($third, 0.2);
	z-index: 9990;

	&__nav {
		width: calc(100% - #{$headerBlindWidth});
		height: 100%;
		display: block;
		float: left;
		position: relative;
		background-color: $layoutBackground;
		z-index: 9990;
	}

	&__blind {
		width: $headerBlindWidth;
		height: 100%;
		display: block;
		float: left;
		position: relative;
		background-color: $secondary;
		text-align: center;

		i {
			font-size: $font-size-large + 1.5;
			color: $fourth;
			margin-top: 0.2rem;
		}

		p {
			font-size: $font-size-small;
			line-height: 1.1;
			text-transform: uppercase;
			color: $fourth;
			margin: 0;
		}
	}

	&__top {
		width: 100%;
		height: 50%;
		display: block;
		float: left;
		position: relative;
	}

	&__bottom {
		width: calc(100% - (#{$marginVert} - #{$navLinkPadding}));
		height: 50%;
		display: block;
		float: left;
		position: relative;
		background-color: $primary;
		padding-left: calc(#{$marginVert} - #{$navLinkPadding});
	}

	&__search {
		width: 50%;
		height: 100%;
		display: block;
		position: relative;
		float: left;
		left: 0;
		background-color: $fourth;
		@extend %input;
		border: none;
		// padding: 0 $marginVert;
		margin-bottom: 0;
		z-index: 5;

		&-input {
			width: calc(100% - #{$marginVert});
			height: 100%;
			border-radius: 0;
			// border: $border_normal solid $primary;
			border: none;
			padding: 0 $marginVert;
			font-size: $font-size-base;

			&--mobile {
				width: calc(100% - #{$headerHeightMobile});
				height: 100%;
				border-radius: 0;
				// border: $border_normal solid $primary;
				border: none;
				padding: 0 calc(#{$marginVert} / 2);
				font-size: $font-size-base;
			}

			&:focus,
			&:active {
				outline: none;
			}
		}

		&-button {
			width: calc(#{$headerHeightDesktop} / 2);
			height: calc(#{$headerHeightDesktop} / 2);
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			outline: none;
			background-color: $secondary;
			cursor: pointer;
			// transform: translateX(-100%);

			i {
				font-size: $font-size-base;
				color: $fourth;
			}

			&--mobile {
				width: $headerHeightMobile;
				height: $headerHeightMobile;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				right: 0;
				border: none;
				outline: none;
				background-color: $secondary;
				cursor: pointer;

				i {
					font-size: $font-size-large;
					color: $fourth;
				}
			}

			&:hover {
				background-color: $navBackground;

				i {
					color: $third;
				}
			}
		}

		// &:after {
		// 	content: "";
		// 	width: $headerHeightDesktop / 2;
		// 	height: $headerHeightDesktop / 2;
		// 	display: block;
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	color: $secondary;
		// 	background-color: $secondary;
		// }

		&--mobile {
			width: 100%;
			height: $headerHeightMobile;
			display: block;
			position: relative;
			float: left;
			background-color: $fourth;
			@extend %input;
			border: none;
			margin-bottom: 0;
			// padding: 0 $paddingMobile;
		}
	}

	&__social {
		width: calc(39% - #{$marginVert});
		height: 100%;
		display: block;
		float: left;
		position: relative;
		// left: 25%;
		padding-left: $marginVert;
		z-index: 1;

		ul {
			// width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			// position: absolute;
			// left: 50%;
			// text-align: center;
			// transform: translateX(-50%);

			li {
				min-width: $headerHeightDesktop - 3;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				// margin-right: 0.5rem;
				color: $secondary;
				position: relative;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
				}

				i {
					font-size: $font-size-large;
					color: $secondary;
					position: relative;
					// left: 50%;
					// top: 50%;
					// transform: translate(-50%, -50%);
					transition: all $base-duration;
				}

				svg {
					width: auto;
					height: $font-size-base;
					display: block;
					position: relative;
					// left: 50%;
					// top: 50%;
					// transform: translate(-50%, -50%);
					transition: all $base-duration;

					path {
						fill: $secondary;
					}
				}

				&:hover {

					i {
						color: $sidebarButtonsBackground;
					}

					svg {

						path {
							fill: $sidebarButtonsBackground;
						}
					}
				}
			}
		}

		&--mobile {
			width: calc(100% - #{$headerHeightMobile} - (#{$headerHeightMobile} * 1.5));
			height: $headerHeightMobile;
			padding-left: 0;
			text-align: center;
		}
	}

	&-device,
	&-device--pad {
		width: 100%;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $fourth;
		position: fixed;
		text-align: center;
		z-index: 9999;
		display: none;
		visibility: hidden;

		&__image {
			width: 6rem;
			display: block;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		span {
			font-size: $font-size-small;
		}
	}

	&__logo {

		&--mobile {
			width: $headerHeightMobile * 1.5;
			height: $headerHeightMobile;
			display: block;
			float: left;
			position: relative;

			a {
				width: 100%;
				height: 100%;
				display: block;
				position: relative;

				svg, img {
					width: 70%;
					height: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					path {
						fill: $secondary;
					}
				}
			}
		}
	}

	&--mobile {
		width: 100%;
		height: $headerHeightMobile * 2;
		background-color: $headerBackgroundMobile;
	}

	@include grid-media($XXLarge) {
		// height: $headerHeightDesktop + 1;

		&-text {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&--mobile {
			display: none;
			visibility: hidden;
		}

	}

	@include grid-media($XLarge) {

		&-text {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&--mobile {
			display: none;
			visibility: hidden;
		}
	}

	@include grid-media($Large) {

		&-text {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}

		&--mobile {
			display: none;
			visibility: hidden;
		}
	}

	@include grid-media($Medium) {


		&--mobile {
			display: none;
			visibility: hidden;
		}
	}

	@include grid-media($XSmall) {


		&__part {
			width: $headerPartWidthMobile;
		}

		&__logo {

			a {
				width: calc(100% - 1.6rem);
				height: 100%;
				padding: 0 0.8rem;

				svg {
					height: 70%;
				}
			}
		}

		&--mobile {
			display: none;
			visibility: hidden;
		}
	}

	@include grid-media($Small) {


		&--desktop {
			display: none;
			visibility: hidden;
		}

		&--mobile {
			display: block;
			visibility: visible;
		}
	}

	@include grid-media($XPortrait) {

		&-device {
			display: none;
			visibility: hidden;

			&--pad {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($Landscape) {

		&-device {
			display: flex;
			visibility: visible;

			&--pad {
				display: none;
				visibility: hidden;
			}
		}
	}
}

.headroom {
	transition: all 0.3s;

	&--unpinned {
		transform: translateY(-100%);
	}
}

/*=====  End of Header  ======*/
